APP_STORE_SECRET=026da3cc026f4e208311a0650c190c93
AUTH0_DOMAIN=dev-zoejuo0jssw5jiid.us.auth0.com
IOS_API_KEY=appl_HblzZuTEedJuLQDVVgdOyoGZCxW
ANDROID_API_KEY=goog_jUpUsGqcuQSISWJDDXyefnMVWFH
ENTITLEMENT_ID=Bitcoin
COINGECKO_API_KEY=CG-YFJkhA5AKwM4SSq8a8515bKQ
GOOGLE_CLIENT_ID=518802377703-ihgef0koca8a9mb7dc505krpi1u6ufn0.apps.googleusercontent.com
GOOGLE_CLIENT_ANDROID_ID=518802377703-3s1m4qiusohpffo7iatktgnap4hum4ah.apps.googleusercontent.com
GOOGLE_CLIENT_IOS_ID=518802377703-qhmmcp0nek5ml396l2pbkve8dm5k9fsd.apps.googleusercontent.com
COINALYZE_API_KEY=da0213a7-235c-456e-8876-6c62ce1a6c54
